section.contact-us {
	margin-top: 100px;
	margin-bottom: 60px;
	margin-left: 280px;

 
}

#templatemo_main {
	width: 960px;
	padding: 40px 1px;
	margin: 2%;
}

.half { 
	width: 465px; 
	margin-bottom: 30px; 
}

.right { 
	float:right

}

.left {
 float:left;
 
 }

h1{
	
	align-text: center;
}