		#bg2{
		
			width: 100%;
			height:100%;
			top:0%;
			left: 0;
			background-color:rgba(0,0,0,.8);
			position: fixed;
			display: none;
		}
		
		#bg2:target{
		
		display: block;
		
		}
		#bg2:target ~ .box2{
		
		top: -150px;
		transition: all .3s;
		transition: delay: .2s;
		
		}
		.box2{
		
			width: 720px;
			height: 405px;
			position: absolute;
			margin-left: 150px;
			left: 50%;
			top: -910px;
			}
			
			.box2 img{
			width:100%
			position: absolute;
			
			}
			
		#close{
			
				color: #fff;
				font-family: 'Arial';
				text-decoration: none;
				font-size: 25px;
				position: absolute;
				background-color: #000;
				width: 40px;
				height: 40px;
				text-align: center;
				right: 0;
			}
			
		#close:hover{
			opacity: .6;
			
			
			}
			
		
			
			/* Evento 3*/
			
			#bg3{
		
			width: 100%;
			height: 100%;
			top: 0%;
			left: 0;
			background-color:rgb(0,0,0,.8);
			position: fixed;
			display: none;
		}
		
		#bg3:target{
		
		display: block;
		
		}
		#bg3:target ~ .box3{
		
		top: -150px;
		transition: all .3s;
		transition: delay: .2s;
		
		}
		.box3{
		
			width: 720px;
			height: 405px;
			position: absolute;
			margin-left: 150px;
			left: 50%;
			top: -1200px;
			}
			
			.box3 img{
			width:100%
			position: absolute;
			
			}
			
			
			/*Evento 3*/
			
			
			
			
			
			
			
			
			
			/* Evento 4  */ 
			
			#bg4{
		
			width: 100%;
			height: 100%;
			top: 0%;
			left: 0;
			background-color:rgb(0,0,0,.8);
			position: fixed;
			display: none;
		}
		
		#bg4:target{
		
		display: block;
		
		}
		#bg4:target ~ .box4{
		
		top: -100px;
		transition: all .3s;
		transition: delay: .2s;
		
		}
		.box4{
		
			width: 720px;
			height: 405px;
			position: absolute;
			margin-left: 150px;
			left: 50%;
			top: -2100px;
			}
			
			.box4 img{
			width:100%
			position: absolute;
			
			}
			
			/* Evento 4  */ 
			
			
			
			/*Evento 5*/
			
			#bg5{
		
			width: 100%;
			height: 100%;
			top: 0%;
			left: 0;
			background-color:rgb(0,0,0,.8);
			position: fixed;
			display: none;
		}
		
		#bg5:target{
		
		display: block;
		
		}
		#bg5:target ~ .box5{
		
		top: -150px;
		transition: all .3s;
		transition: delay: .2s;
		
		}
		.box5{
		
			width: 720px;
			height: 405px;
			position: absolute;
			margin-left: 150px;
			left: 50%;
			top: -2400px;
			}
			
			.box5 img{
			width:100%
			position: absolute;
			
			}
			
			/*Evento 5*/